/server/regstats
/server/regstats_server/__pycache__
/server/regstats_server/api/__pycache__
/server/regstats_server/migrations/__pycache__
/client/development/build
/server/regstats_server/migrations
/client/usb/RegStats/client/python_embed
client/Run-Build-https-wss.ps1
/client/usb_https_wss
