<input type="text" id="password" placeholder="password">
<button type="button" id="submit-button">Submit</button>
<script>
    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        let expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    document.getElementById("submit-button").addEventListener("click", function() {
        const password = document.getElementById("password").value
        setCookie("regstats-password", password, 999)
    })
</script>