{% if clients %}
    {% for client in clients %}
        <div style="display: flex; gap: 5px; align-items: center;"><p>Current name: {{ client.nickname }}</p><input type="text" id="{{ client.id }}-input" placeholder="new name"><button type="button" onclick="saveNickname('{{ client.id }}')">Save</button></div>
    {% endfor %}
{% else %}
    <p>no clients found</p>
{% endif %}

<script>
    // Function to get a cookie for the csrf token
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrf_token = getCookie('csrftoken');

    function saveNickname(client_id) {
        const nicknameInput = document.getElementById(`${client_id}-input`)
        const nickname = nicknameInput.value
        fetch("/api/change_nickname", {
            method: "POST",
            credentials: "include",
            headers : {
                "X-CSRFToken" : csrf_token
            },
            body: JSON.stringify({
                client_id: client_id,
                nickname: nickname
            })
        })

        .then(response => response.json())

        .then(response => {
            if (response.success) {
                window.location.reload()
            } else {
                alert("something went wrong.")
            }
        })

        .catch(error => {
            alert("something went wrong")
        })
    }
</script>